@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/bebasneue_light-webfont.woff2') format('woff2'),
  url('../fonts/bebasneue_light-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
